<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Отель "Cyberzone"
    {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div>
        <h1>Отель Cyberzone</h1>
        <p>Атмосфера для любителей киберпанка</p>
        {% if user.is_authenticated %}
            <form class="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="login-link" type="submit">Выйти</button>
            </form>
        {% else %}
            <a class="login-link" href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>

</div>
{% block content %}
{% endblock %}
</body>
</html>